:root {
    --dark-green: #1b8f72;
    --brown: #ba7950;
    --yellow: #e6c66f;
    --cream: #e4e4db;
}

body {
    font-family: "Teko";
    font-size: 1em;
    background-color: var(--dark-green);
}

.container {
max-width: 1070px;
}

/* GENERAL */

.dotted-background {
    background-image: url(../images/Texture-dots-big.jpg);
}

.line-height {
    line-height: 2rem !important;
}

.large-col {
    height: 60vh;
}

/* BORDERS */

.border-white {
    border: white solid 0.3rem;
    border-radius: 0%;
}

.border-white-text {
    border: white solid 0.2rem;
    margin: 0.1em 0.45em;
}

.border-green-text {
    border: var(--dark-green) solid 0.3rem;
    margin: 0.1em 0.45em;
    border-radius: 0%;
}

.border-green-text:focus {
    border: var(--dark-green) solid 0.3rem;
    box-shadow: none;
}

.border-green-text-link {
    border: var(--dark-green) solid 0.3rem;
    margin: 0.1em 0.45em;
    border-radius: 0%;
}

.border-green-text-link:hover {
    background-color: var(--dark-green) !important;
}

/* LINKS */

.green-link {
    color: var(--dark-green);
    text-decoration: none;
    font-weight: bold;
}

.green-link:hover {
    text-decoration: underline;
    color: var(--dark-green);
}

/* BUTTONS */

.green-link-button {
    color: var(--dark-green);
    text-decoration: none;
    font-weight: bold;
}

.green-link-button:hover {
    color: white;
    background-color: var(--dark-green);
}

/* TEXT */

.green-text {
    font-size: 1.5rem;
    text-transform: uppercase;
}


/* NAVBAR */

.bar-link {
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-kerning: normal;
    color: white;
    padding: 0 0.6em !important;
}

.bar-link:hover {
    background-color: white;
    color: var(--dark-green)
}

.home-link {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    font-kerning: normal;
    color: white;
    text-decoration: none;
    padding: 0 0.6em !important;
}

.home-link:hover {
    background-color: white;
    color: var(--dark-green)
}



/* HERO */

.hero-image {
    width: 100%;
}

.hero-text-background {
    height: 100%;
    min-height: 10vh;
    background-image: url(../images/Texture-dots-big.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text {
    font-size: 4em;
    color: var(--dark-green);
    line-height: 1em;
    cursor: default;
    font-weight: bold;
}

/* CARDS */

.card-body-background {
    height: 5em;
    background-color: white;
}

.card-link {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-kerning: normal;
    color: var(--dark-green);
    padding: 0.45em 1.45em !important;
    transition-delay: 0.15s;
}

.card-body-background:hover {
    color: white !important;
    background-color: var(--dark-green) !important;
}

.card-images {
    height: 15em;
}

#card-menu {
    background-image: url(../images/Burger-Showdown.jpg);
    background-size: cover;
    background-position: 50%;
}

#card-bookings {
    background-image: url(../images/Thousand-table.jpg);
    background-size: cover;
    background-position: 50%;
}

.card-dots {
    height: 20em;
}

.card-title {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-green);
    line-height: 1em;
}

.card-text {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1em;
}

/* LOWER ROW */

.card-images-large {
    height: 25em;
    size: 100%;
}

.card-title-large {
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-green);
}

#about-us-img {
    background-image: url(../images/About-woman-eating.jpg);
    background-size: cover;
}

#home-lower-img {
    background-image: url(../images/Home-lower-burger.jpg);
    background-size: cover;
    background-position: 50%;
}

/* MENU */

.card-title-white {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    line-height: 1em;
}

.card-price {
    font-weight: bold;
    font-size: larger;
}

#menu-a-1 {
    background-image: url(../images/Sides-Salad.jpg);
        background-size: cover;
        background-position: 50%;
}

#menu-a-2 {
    background-image: url(../images/Sides-Hummus.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-a-3 {
    background-image: url(../images/Sides-Nachos.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-a-4 {
    background-image: url(../images/Sides-sweet-potatoes.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-b-1 {
    background-image: url(../images/Burger-Finch.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-b-2 {
    background-image: url(../images/Burger-Showdown.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-b-3 {
    background-image: url(../images/Burger-Singular.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-b-4 {
    background-image: url(../images/Burger-animal.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-p-1 {
    background-image: url(../images/Dessert-Cheesecake.png);
    background-size: cover;
    background-position: 50%;
}

#menu-p-2 {
    background-image: url(../images/Dessert-Lotus.png);
    background-size: cover;
    background-position: 50%;
}

#menu-p-3 {
    background-image: url(../images/Dessert-Oreo.png);
    background-size: cover;
    background-position: 50%;
}

#menu-p-4 {
    background-image: url(../images/Dessert-Banoffee.png);
    background-size: cover;
    background-position: 50%;
}

#menu-be-1 {
    background-image: url(../images/Drink-Estrella.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-be-2 {
    background-image: url(../images/Drink-Paulaner.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-be-3 {
    background-image: url(../images/Drinks-Red-Wine.jpg);
    background-size: cover;
    background-position: 50%;
}

#menu-be-4 {
    background-image: url(../images/Drinks-White-Wine.jpg);
    background-size: cover;
    background-position: 50%;
}

/* CONTACT */

.embed-map {
    height: 100%;
    width: 100%;
}

.contact-col {
    height: 100%;
    min-height: 50vh;
}

.tall-background {
    height: 10vh;
}

#reservation-pic {
    background-image: url(../images/About-woman-eating.jpg);
    background-size: cover;
    background-position: 50%;
}

#reservation-dropdown {
    width: 100%;
    font-family: 'Teko';
    text-transform: uppercase;
    font-size: 1.5rem;
}

#reservation-done {
    background-image: url(../images/Reservation-done.jpg);
    background-size: cover;
    background-position: 50%;
}

#return-button {
    width: 100vw;
}